<a href="https://colab.research.google.com/github/JoseBatista2010/ML2023-Jose-Batista/blob/master/winequality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import matplotlib as pl
import pandas as pd
wine_ds = pd.read_csv('/content/drive/MyDrive/UFC/2023_1/Machine_Learning/winequality/winequality-white.csv', delimiter = ';')
wine_ds.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split


# Separar as colunas de recursos dos rótulos
X = wine_ds.drop('quality', axis=1)
y = wine_ds['quality']

# Dividir os dados em conjuntos de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import SGDRegressor
from sklearn.datasets import make_regression

# Criar um objeto SGDRegressor
regressor = SGDRegressor()

# Treinar o modelo com os dados de treino
regressor.fit(X_train, y_train)

# Avaliar o modelo nos dados de teste
score = regressor.score(X_test, y_test)

print("Score do modelo:", score)

Score do modelo: -3.6261313850102516e+24

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Modelo treinado
y_pred_train = regressor.predict(X_train)
y_pred_test = regressor.predict(X_test)

# Calcular o MAE e MSE para o conjunto de treino
mae_train = mean_absolute_error(y_train, y_pred_train)
mse_train = mean_squared_error(y_train, y_pred_train)
print("MAE para treino:", mae_train)
print("MSE para treino:", mse_train)

# Calcular o MAE e MSE para o conjunto de teste
mae_test = mean_absolute_error(y_test, y_pred_test)
mse_test = mean_squared_error(y_test, y_pred_test)
print("MAE para teste:", mae_test)
print("MSE para teste:", mse_test)

MAE para treino: 1567744783969.7468
MSE para treino: 2.721483958477152e+24
MAE para teste: 1587686960965.0188
MSE para teste: 2.8083413459976733e+24